<ion-header>
  <ion-toolbar>
    <ion-title>Procedimientos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="!isLoading; else loading">
    <ion-item *ngFor="let proc of procedimientos">
      <ion-label>
        <h2>Nombre: {{ proc.nombre }}</h2>
        <p>Descripción: {{ proc.descripcion }}</p>
        <p>Tipo de procedimiento: {{ proc.tipoProcedimiento }}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ng-template #loading>
    <ion-spinner name="crescent" style="display:block; margin:auto; margin-top:50%"></ion-spinner>
  </ng-template>
</ion-content>
