<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/paciente/{{rutParam}}"></ion-back-button>
    </ion-buttons>
    <ion-title>Diagnósticos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="patient as p; else noPatient" class="header ion-text-center">
    <strong>{{ p.name }}</strong><br />
    <small>{{ p.rut }}</small>
  </div>

  <ion-list inset lines="none" class="diag-list">
    <ion-item *ngFor="let d of diagnos">
      <ion-icon slot="start" name="document-text-outline"></ion-icon>
      <ion-label>
        <h3>{{ d.name }}</h3>
        <p>Código: {{ d.code }} · Fecha: {{ d.date }}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ng-template #noPatient>
    <p class="ion-text-center ion-padding">Paciente no identificado (RUT: {{ rutParam }}).</p>
  </ng-template>
</ion-content>
