<ion-header>
  <ion-toolbar>
    <ion-title>Consultas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="!isLoading; else loading">
    <ion-item *ngFor="let consulta of consultas">
      <ion-label>
        <h2>Medico: {{ consulta.medicoNombre }}</h2>
        <p>Fecha: {{ consulta.fecha | date:'medium' }}</p>
        <p>Institución: {{ consulta.institucionMedica }}</p>
        <p>Descripción: {{ consulta.descripcion }}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ng-template #loading>
    <ion-spinner name="crescent" style="display:block; margin:auto; margin-top:50%"></ion-spinner>
  </ng-template>
</ion-content>
