<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/ficha-medica"></ion-back-button>
    </ion-buttons>
    <ion-title>Consultas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="contenido" *ngIf="paciente">
    <div class="paciente-header">
      <div class="avatar-small">
        {{ getInitials(paciente.nombre) }}
      </div>
      <div class="paciente-info">
        <h2>{{ paciente.nombre }}</h2>
        <p class="rut">{{ paciente.rut }}</p>
      </div>
    </div>

    <div class="consultas-section" *ngIf="consultas.length > 0; else noData">
      <app-consultas-card
        *ngFor="let c of consultas"
        [consultas]="c">
      </app-consultas-card>
    </div>

    <ng-template #noData>
      <p class="sin-datos">Este paciente no tiene consultas registradas.</p>
    </ng-template>
  </div>
</ion-content>
