<ion-header>
  <ion-toolbar>
    <ion-title>Exámenes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="!isLoading; else loading">
    <ion-item *ngFor="let exam of examenes">
      <ion-label>
        <p>Nombre: {{ exam.nombre }}</p>
        <p>Tipo de examen: {{ exam.tipoProcedimiento }}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ng-template #loading>
    <ion-spinner name="crescent" style="display:block; margin:auto; margin-top:50%"></ion-spinner>
  </ng-template>
</ion-content>
