<div class="hospitalizacion-card">
  <div class="card-header">
    <div class="hospitalizacion-icon">
      <ion-icon name="business-outline"></ion-icon>
    </div>
    <div class="hospitalizacion-info">
      <h3>{{ hospitalizacion.institucionMedica }}</h3>
    </div>
  </div>

  <div class="card-content">
    <div class="info-row">
      <div class="info-item">
        <ion-icon name="calendar-outline"></ion-icon>
        <span>{{ getFechaFormateada() }}</span>
      </div>
      <div class="info-item">
        <ion-icon name="time-outline"></ion-icon>
        <span>{{ getDuracionFormateada() }}</span>
      </div>
    </div>
  </div>
</div>
