<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab1"></ion-back-button>
    </ion-buttons>
    <ion-title>Detalle paciente</ion-title>
    <ion-button slot="end" 
                [routerLink]="['/paciente', rutParam, 'editar']"
                [state]="{ patient }"
                expand="block">
      Editar paciente
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="contenido">
    <ion-card class="perfil-card">
      <ion-card-header class="perfil-header">
        <ng-container *ngIf="patient?.avatarUrl; else initials">
          <ion-avatar>
            <img [src]="patient?.avatarUrl || ''" [alt]="patient?.name || 'Paciente'" />
          </ion-avatar>
        </ng-container>
        <ng-template #initials>
          <div class="avatar-fallback">
            {{ getInitials(patient?.name) }}
          </div>
        </ng-template>

        <div class="perfil-titulos">
          <ion-card-title>{{ patient?.name || 'Paciente' }}</ion-card-title>
          <div class="rut ion-text-center">{{ patient?.rut }}</div>
        </div>
      </ion-card-header>

      <ion-card-content>
        <ion-list lines="none">
          <ion-item>
            <ion-icon slot="start" name="calendar-outline"></ion-icon>
            <ion-label>Edad</ion-label>
            <div slot="end">{{ displayAge }}</div>
          </ion-item>

          <ion-item>
            <ion-icon slot="start" name="person-outline"></ion-icon>
            <ion-label>Sexo</ion-label>
            <div slot="end">{{ displaySex }}</div>
          </ion-item>

          <ion-item>
            <ion-icon slot="start" name="medkit-outline"></ion-icon>
            <ion-label>Grupo sanguíneo</ion-label>
            <div slot="end">{{ patient?.bloodGroup || '—' }}</div>
          </ion-item>

          <ion-item>
            <ion-icon slot="start" name="call-outline"></ion-icon>
            <ion-label>Teléfono</ion-label>
            <div slot="end">{{ patient?.phone || '—' }}</div>
          </ion-item>

          <ion-item>
            <ion-icon slot="start" name="mail-outline"></ion-icon>
            <ion-label>Mail</ion-label>
            <div slot="end">{{ patient?.email || '—' }}</div>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
    <ion-button class="detalle"
                [routerLink]="['/paciente', rutParam, 'diagnosticos']"
                [state]="{ patient }"
                expand="block">
      Ver diagnósticos
    </ion-button>
  </div>
</ion-content>

