<ion-header>
  <ion-toolbar>
    <ion-title>Diagnósticos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="!isLoading; else loading">
    <ion-item *ngFor="let diagnostico of diagnosticos">
      <ion-label>
        <p>Fecha: {{ diagnostico.fecha | date:'medium' }}</p>
        <p>Descripción: {{ diagnostico.descripcion }}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ng-template #loading>
    <ion-spinner name="crescent" style="display:block; margin:auto; margin-top:50%"></ion-spinner>
  </ng-template>
</ion-content>
