<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/ficha-medica"></ion-back-button>
    </ion-buttons>
    <ion-title>Diagnósticos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="contenido" *ngIf="paciente">
    <div class="paciente-header">
      <h2>{{ paciente.nombre }}</h2>
      <p class="rut">{{ paciente.rut }}</p>
    </div>

    <div *ngIf="diagnosticos.length > 0; else noData">
      <app-diagnostico-card 
        *ngFor="let diag of diagnosticos" 
        [diagnostico]="diag">
      </app-diagnostico-card>
    </div>

    <ng-template #noData>
      <p class="sin-datos">Este paciente no tiene diagnósticos registrados.</p>
    </ng-template>
  </div>
</ion-content>
