<div class="botones">
  
  <!-- Botón Editar Datos -->
  <ion-button 
    expand="block" 
    color="primary"
    class="edit-button"
    (click)="editarDatos()">
    <ion-icon name="create-outline" slot="start"></ion-icon>
    Editar Datos
  </ion-button>

  <!-- Botón Cerrar Sesión -->
  <ion-button 
    expand="block" 
    color="danger"
    fill="outline"
    class="logout-button"
    (click)="cerrarSesion()">
    <ion-icon name="log-out-outline" slot="start"></ion-icon>
    Cerrar Sesión
  </ion-button>

</div>