<ion-header>
  <ion-toolbar>
    <ion-title>Medicamentos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="!isLoading; else loading">
    <ion-item *ngFor="let med of medicamentos">
      <ion-label>
        <h2>{{ med.nombre }}</h2>
        <p>Descripción: {{ med.descripcion }}</p>
        <p>Cantidad: {{ med.cantidad }}</p>
        <p>Formato: {{ med.formato }}</p>
        <p>Duración (días): {{ med.tiempoConsumo }}</p>
        <p>Frecuencia: {{ med.frecuenciaConsumo }}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ng-template #loading>
    <ion-spinner name="crescent" style="display:block; margin:auto; margin-top:50%"></ion-spinner>
  </ng-template>
</ion-content>
