<div class="acciones">
  <ion-button expand="block" (click)="irADiagnosticos()">
    Ver diagnósticos
  </ion-button>

  <ion-button expand="block" color="secondary" (click)="irAHospitalizaciones()">
    Ver hospitalizaciones
  </ion-button>

  <ion-button expand="block" color="tertiary" (click)="irAConsultas()">
    Ver consultas
  </ion-button>

  <ion-button expand="block" color="success" (click)="irAProcedimientos()">
    Ver procedimientos
  </ion-button>

  <ion-button expand="block" color="warning" (click)="irAMedicamentos()">
    Ver medicamentos
  </ion-button>
</div>