<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Acerca de</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Mi Proyecto en Ionic</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Este proyecto fue desarrollado como parte de la asignatura <strong>Tecnologías y Aplicaciones Web</strong>.</p>
      <p>Framework: Ionic + Angular</p>
      <p>Alumno: David</p>
    </ion-card-content>
  </ion-card>

</ion-content>