<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab1"></ion-back-button>
    </ion-buttons>
    <ion-title>Crear paciente</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <form [formGroup]="form" (ngSubmit)="submit()" class="form-wrap">
    <ion-list inset class="form-list" lines="full">
      <ion-item>
        <ion-label position="stacked">Nombre completo *</ion-label>
        <ion-input formControlName="name" autocomplete="name" placeholder="Ej: Ignacia Herrera"></ion-input>
      </ion-item>
      <ion-note class="error" *ngIf="form.controls.name.touched && form.controls.name.invalid">
        Ingrese un nombre válido (mínimo 3 caracteres).
      </ion-note>

      <ion-item>
        <ion-label position="stacked">RUT *</ion-label>
        <ion-input formControlName="rut" placeholder="XX.XXX.XXX-X" (ionBlur)="formatRut()"></ion-input>
      </ion-item>
      <ion-note class="error" *ngIf="form.controls.rut.touched && form.controls.rut.invalid">
        RUT inválido.
      </ion-note>

      <ion-item>
        <ion-label position="stacked">Fecha de nacimiento *</ion-label>
        <ion-input formControlName="birthdate" type="date"></ion-input>
      </ion-item>
      <ion-note class="error" *ngIf="form.controls.birthdate.touched && form.controls.birthdate.invalid">
        Seleccione una fecha.
      </ion-note>

      <ion-item>
        <ion-label position="stacked">Sexo *</ion-label>
        <ion-select formControlName="sex" interface="popover" placeholder="Seleccione">
          <ion-select-option value="F">Femenino</ion-select-option>
          <ion-select-option value="M">Masculino</ion-select-option>
          <ion-select-option value="Otro">Otro</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-note class="error" *ngIf="form.controls.sex.touched && form.controls.sex.invalid">
        Seleccione una opción.
      </ion-note>

      <ion-item>
        <ion-label position="stacked">Grupo sanguíneo *</ion-label>
        <ion-select formControlName="bloodGroup" interface="popover" placeholder="Seleccione">
          <ion-select-option value="O+">O+</ion-select-option>
          <ion-select-option value="O-">O-</ion-select-option>
          <ion-select-option value="A+">A+</ion-select-option>
          <ion-select-option value="A-">A-</ion-select-option>
          <ion-select-option value="B+">B+</ion-select-option>
          <ion-select-option value="B-">B-</ion-select-option>
          <ion-select-option value="AB+">AB+</ion-select-option>
          <ion-select-option value="AB-">AB-</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-note class="error" *ngIf="form.controls.bloodGroup.touched && form.controls.bloodGroup.invalid">
        Seleccione una opción.
      </ion-note>

      <ion-item>
        <ion-label position="stacked">Teléfono</ion-label>
        <ion-input formControlName="phone" inputmode="tel" placeholder="+56 9 1234 5678"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Email</ion-label>
        <ion-input formControlName="email" type="email" autocomplete="email" placeholder="correo@dominio.com"></ion-input>
      </ion-item>
      <ion-note class="error" *ngIf="form.controls.email.touched && form.controls.email.invalid">
        Email inválido.
      </ion-note>
    </ion-list>

    <div class="actions">
      <ion-button expand="block" type="submit" [disabled]="form.invalid">Guardar</ion-button>
    </div>
  </form>

  <ion-toast [isOpen]="toastOpen" message="Paciente creado" duration="1600" (didDismiss)="toastOpen=false"></ion-toast>
</ion-content>
